html {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-left: 15%;
    padding-right: 15%;
}

#profile-pic {
    width: 130px;
    height: 130px;
    text-align: left;
}

/* .jumbotron-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */

.header h1 {
    text-align: center;
}

/* div:not(.header) {
    border-bottom: 3px solid rgba(107, 94, 70, 0.288);
    border-right: 3px solid rgba(107, 94, 70, 0.288);
} */